body {
  padding: 0;
  margin: 0
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.boardRow {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.playersDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerInput {
  margin: 0px 0px 5px 0px;

}
